[submodule "themes/rokkaku"]
	path = themes/rokkaku
	url = https://github.com/nijohando/hugo-rokkaku-theme.git
[submodule "themes/hugo-primer"]
	path = themes/hugo-primer
	url = https://github.com/qqhann/hugo-primer.git
