[submodule "themes/hugo-theme-terminal"]
	path = themes/hugo-theme-terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "themes/Memorandum"]
	path = themes/Memorandum
	url = https://github.com/Nagatani/hugo-memorandum.git
