[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
[submodule "themes/rokkaku"]
	path = themes/rokkaku
	url = https://github.com/nijohando/hugo-rokkaku-theme.git
